<html>
  <head>
    <title>Contact Created Redirect</title>
    <META http-equiv="refresh" content="1;URL=http://localhost:3000/contact_list/">
  </head>
  <!-- <body bgcolor="#ffffff">
    <center>The contents you are looking for have moved. You will be redirected to the new location automatically in 5 seconds. Please bookmark the correct page at <a href="http://localhost:3000/contact_list/">http://localhost:3000/contact_list/</a>
    </center>
  </body> -->
</html>