<table border="1" style="width:100%">
  <tr class="header">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  <tr>
    <td class="first_name"><%= :first_name %></td>
    <td class="last_name"><%= :last_name %></td>
    <td class="email"><%= :email %></td>
    <td class="phone"><%= :phone_number %></td>
  </tr>

</table>